#container{
    height: 96vh;
    position: relative;
    padding: 10px;
    background-size: 100% 100%;
    background-color: purple;
}
#conteudo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 200px;
    width: 400px;
    background-color: yellow;
}