@charset "UTF-8";

/* todas as demais medias */

/* Typical Device Breakpoints
Mobile: 320px até 480px
Celular: 481px até 768px
Tablet: 769px até 1024px
Desktop: 1025px até 1200px 
Grandes telas: acima de 1201px
*/


@media print {
    *{
        font-family: 'Courier New', Courier, monospace;
    }
    main{
        border: 2px solid black;
    }
    main h1{
        text-shadow: none;
        color: black;
    }
    #phone {display: none;}
    #tablet {display: none;}
    #print {display: block;}
    #pc {display: none;}
    #tv {display: none;}
}

@media screen and (min-width:769px) and (max-width:1024px) {
    body {
        background: black url(../imagens/back-tablet.jpg) center center no-repeat;
        background-size: cover;
    }
    #phone {display: none;}
    #tablet {display: block;}
    #print {display: none;}
    #pc {display: none;}
    #tv {display: none;}

}

@media screen and (min-width:1025px) and (max-width:1200px) {
    body{
        background: black url(../imagens/back-pc.jpg) center center no-repeat;
        background-size: cover;
    }
    #phone {display: none;}
    #tablet {display: none;}
    #print {display: none;}
    #pc {display: block;}
    #tv {display: none;}
}

@media screen and (min-width:1201px) {
    body{
        background: black url(../imagens/back-tv.jpg) center center no-repeat;
        background-size: cover;
    }
    #phone {display: none;}
    #tablet {display: none;}
    #print {display: none;}
    #pc {display: none;}
    #tv {display: block;}
}