body{
    font-family: Arial, Helvetica, sans-serif;
}
table{
    width: 50vw;
    border-collapse: collapse;
    position: relative;
}
td,th{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
tbody tr:nth-child(odd){
    background-color: rgba(128, 128, 128, 0.514);
}
caption{
    font-size: 1.2em;
    font-weight: bolder;
    padding: 20px;
}
#container{
    overflow-x: auto;
}
